<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile class="financialBox"> Revenue: {{ tickerFinancials[0] }} </mat-grid-tile>
    <mat-grid-tile class="financialBox"> PeG Ratio: {{ tickerFinancials[1] }} </mat-grid-tile>
    <mat-grid-tile class="financialBox"> Total Cash: {{ tickerFinancials[2] }} </mat-grid-tile>
    <mat-grid-tile class="financialBox"> Cash Flow{{ tickerFinancials[3] }} </mat-grid-tile>
    <mat-grid-tile class="financialBox"> Long Term Debt {{ tickerFinancials[4] }} </mat-grid-tile>
    <mat-grid-tile class="financialBox"> Total Debt {{ tickerFinancials[5] }} </mat-grid-tile>
  </mat-grid-list>